@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    article{
      @apply lg:text-left lg:p-10;
    }
    body {
      @apply bg-coolday-100 dark:bg-coolnight-100;
      @apply min-h-screen;
      font-family: system-ui, -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      -webkit-font-smoothing: subpixel-antialiased;
      font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
      'cv03' 1, 'cv04' 1;
      font-variation-settings: 'wght' 450;
      font-variant: common-ligatures contextual;
      letter-spacing: -0.02em;
    }

    .vic1 {  
      @apply text-greytext-100 dark:text-moodytext-100;;
      font-variation-settings: 'wght' 50;
   }
   .vic2 {  
    @apply text-greytext-100 dark:text-moodytext-100;;
    font-variation-settings: 'wght' 200;
    }

    p{
      @apply text-lg text-greytext-100 dark:text-moodytext-100;
      font-variation-settings: 'wght' 350;
    }
  
  
    .btn{
      @apply inline-block px-5 py-3 rounded-lg hover:bg-indigo-600 transition duration-300 shadow-lg bg-indigo-500 text-white capitalize tracking-wider font-semibold text-sm sm:text-xl focus:outline-none focus:ring-4 focus:ring-indigo-500 focus:ring-opacity-50 whitespace-nowrap
    }

    b,
    strong,
    h3,
    h4,
    h5,
    h6 {
      @apply text-greytext-100 dark:text-moodytext-100;;
         font-variation-settings: 'wght' 350;
       }
   h1 {  
         @apply text-greytext-100 dark:text-moodytext-100;;
         font-variation-settings: 'wght' 350;
      }
   h2 {
         font-variation-settings: 'wght' 350;
      }
  
    a {
      @apply hover:text-blue-500
      
    }
    strong, blockquote, code{
      @apply text-gray-900 dark:text-blue-200
    }
 
  }
  